<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>The Transformation Company</h2>
      <p class="lead">The “Overall Rating” of a Transformer is the following formula:
        Strength + Intelligence + Speed + Endurance + Firepower
      </p>
    </div>

    <div class="alert alert-success" role="alert" *ngIf="results.winner">
      <h4 class="text-center">Result</h4>
      <b>Battles: </b> {{results.battles}} <br>
      <b>Winner:</b>
      <div *ngIf="results.winner === TransformerType.Autobot; else otherWinningTeam">
        Autobots
      </div>
      <br>
      <b>Winning team (
        <div *ngIf="results.winner === TransformerType.Autobot; else otherWinningTeam">
          Autobots
        </div>
        <ng-template #otherWinningTeam>
          Desepticons
        </ng-template>
        ):
      </b>
      <ul>
        <li *ngFor="let transformer of results.winners">{{ transformer | titlecase }}</li>
      </ul>
      <b>Survivors from the loosing team (
        <div *ngIf="results.winner !== TransformerType.Autobot; else otherLoosingTeam">
          Autobots
        </div>
        <ng-template #otherLoosingTeam>
          Desepticons
        </ng-template>
        ):
      </b>
      <ul>
        <li *ngFor="let transformer of results.survivors">{{ transformer | titlecase }}</li>
      </ul>
    </div>


    <div class="row py-2 g-5">
      <div class="col">
        <h4 class="text-center">Autobots</h4>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let autobot of autobots">{{autobot.name | titlecase}} - rank:
            {{autobot.rank}} -
            overall rating: {{autobot.getOverallRating()}}</li>
        </ul>
      </div>
      <div class="col">
        <h4 class="text-center">Decepticons</h4>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let decepticon of decepticons">{{decepticon.name | titlecase}} - rank:
            {{decepticon.rank}} - overall rating: {{decepticon.getOverallRating()}}</li>
        </ul>
      </div>
    </div>

    <div class="row py-5 g-5" *ngIf="this.logger.length !== 0">
      <div class="col">
        <h4 class="text-center">Events logger</h4>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let log of logger">{{log}}</li>
        </ul>
      </div>
    </div>



    <div class="d-grid gap-2 mt-3" *ngIf="!results.winner">
      <button class="btn btn-success" (click)="fight()" type="button">Fight</button>
    </div>

    <div class="row py-5 g-5">
      <div class="col">
        <h4 class="text-center">Add transformers manually</h4>
        <p>Note: if you use this functionality will have to add the entire scenario manually.</p>
        <form [formGroup]="addTransformerForm" (ngSubmit)="addTransformer()">
          <input class="form-control" type="text" placeholder="Transformer name" formControlName="name">
          <select class="form-select" formControlName="type">
            <option selected value="null">Transformer Type</option>
            <option value="A">Autobot</option>
            <option value="D">Decepticon</option>
          </select>
          <input class="form-control" type="number" min="0" max="10" placeholder="strength: 0-10" formControlName="strength">
          <input class="form-control" type="number" min="0" max="10" placeholder="intelligence: 0-10" formControlName="intelligence">
          <input class="form-control" type="number" min="0" max="10" placeholder="speed: 0-10" formControlName="speed">
          <input class="form-control" type="number" min="0" max="10" placeholder="endurance: 0-10" formControlName="endurance">
          <input class="form-control" type="number" min="0" max="10" placeholder="rank: 0-10" formControlName="rank">
          <input class="form-control" type="number" min="0" max="10" placeholder="courage: 0-10" formControlName="courage">
          <input class="form-control" type="number" min="0" max="10" placeholder="firepower: 0-10" formControlName="firepower">
          <input class="form-control" type="number" min="0" max="10" placeholder="skill: 0-10" formControlName="skill">
          <div class="d-grid gap-2 mt-3">
            <button class="btn btn-success" type="submit">Add</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
